.places {
    display: grid;
    row-gap: 80px;
    grid-template-columns: repeat(auto-fit, 1fr);
    max-width: 984px;
    margin: 0 auto;
    justify-content: center;
}



@media screen and (max-width: 1024px) {
    .places {
        width: calc(100% - 48px*2);
        margin: 0 48px;
    }
}


@media screen and (max-width: 900px) {
    .places {
        width: calc(100% - 24px*2);
        row-gap: 73px;
        margin: 0 24px;
    }
}


@media screen and (max-width: 730px) {
    .places {
        width: 100%;
        row-gap: 50px;
        margin: 0;

    }
}


@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
    }
}
