.header {
    margin: 26px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
}


@media screen and (max-width: 1250px) {
    .header {
        width: calc(100% - 48px*2);
        margin: 26px 48px 0 48px;
    }
}

/*
@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 48px*2);
        margin: 26px 48px 0 48px;
    }
} */


@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 24px*2);
        margin: 27px 24px 0 24px;
    }
}


@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 16px*2);
        margin: 16px 16px 0 16px;
    }
}
