.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.08em;
    padding: 0;
    margin: 0;
    max-width: 100%;
}


@media screen and (max-width: 700px) {
        .intro__title {
            font-size: 32px;
            line-height: 1.09em;
    } 
}